.title {
  text-align: center;
}

.form {
  padding: 10px;
  border: none;
}

.closeButton {
  position: absolute;
  top: 2%;
  right: 2%;
  left: auto;
  bottom: auto;
  width: 25px;
  height: 25px;
  font-weight: bold;
}

.submitButton {
  margin-top: 50px;
}